.image-container {
  display: grid;
  /* grid-template-rows: 1fr 2fr 0.5fr 0.5fr 0.5fr;  */
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "Image1 Image1 Image2 Image3"
    "Image1 Image1 Image4 Image5";
  overflow: hidden;
  grid-gap: 10px;
}

.Image1 {
  grid-area: Image1;
  position: relative;
}

.Image1 img {
  width: 100%;
  height: 510px;
  object-fit: cover;
  border-radius: 10px;
}

.Image2,
.Image3,
.Image4,
.Image5 {
  position: relative;
}

.Image2 img,
.Image3 img,
.Image4 img,
.Image5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.Image2,
.Image3,
.Image4,
.Image5 {
  height: 250px;
}

.detail-container {
  display: flex;
  overflow: hidden;
  margin-top: 30px;
  justify-content: space-between;
  gap: 100px;
}

.detial-title {
  font-size: 22px;
  font-weight: bold;
}

.res-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
}

.reserve {
  height: 40px;
  width: 300px;
  align-self: center;
  box-shadow: 3px 3px 3px gray;
}

.res-price {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-self: center;
}
.res-review {
  text-align: center;
  align-self: center;
}

.res-container button {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}
.spot-detail-container {
  padding: 0 20px 10px 20px;
}

.detail-divider {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #555555;
}
