/* #main-container {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
h2 {
  text-align: center;
} */

#main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.spot img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
