/* TODO: Add sitewide styles */
/* Heading */
h1 {
  font-size: 16pt;
  font-weight: bold;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

/* Subheading */
h2 {
  font-size: 12pt;
  font-weight: bold;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

/* Normal Text */
p {
  font-size: 16px;
  font-weight: normal; /* or use '400' for normal */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

form {
  font-size: 10pt;
  font-weight: normal; /* or use '400' for normal */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

button {
  font-size: 10pt;
  font-weight: normal; /* or use '400' for normal */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

body {
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
    font-size: 16px;
}
