ul{
    display:flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  
}

li{
list-style-type:none;

}

#user-menu{
align-items: center;

}
