.profile-dropdown {
  list-style-type: none;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s ease-in-out; 
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown{
    display:flex;
    flex-direction: column;
}
#profile-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

}

.button1 {
  border-radius: 25px;
  background-color: white ;
}

li {
  margin: 8px 0;
  font-size:smaller;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 900 */
 
}
